body {
	font-size: var(--fz-400);
	font-family: var(--ff-primary);
	font-weight: var(--fw-400);
	color: var(--clr-neutral-100);
	background-color: var(--clr-neutral-700);
	background-image: url('../assets/background-stars.svg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

h1,
h2,
h3 {
	font-family: var(--ff-secondary);
	font-weight: var(--fw-500);
}
