@use './variables';

@mixin mq($key) {
	$size: map-get(variables.$breakpoints, $key);

	@media only screen and (min-width: $size) {
		@content;
	}
}

@mixin max-mq($key) {
	$size: map-get(variables.$breakpoints, $key);

	@media only screen and (max-width: calc(#{$size} - 1px)) {
		@content;
	}
}

@mixin planet-colors {
	&[data-planet='mercury'] {
		--planet-color: var(--clr-accent-mercury);
	}
	&[data-planet='venus'] {
		--planet-color: var(--clr-accent-venus);
	}
	&[data-planet='earth'] {
		--planet-color: var(--clr-accent-earth);
	}
	&[data-planet='mars'] {
		--planet-color: var(--clr-accent-mars);
	}
	&[data-planet='jupiter'] {
		--planet-color: var(--clr-accent-jupiter);
	}
	&[data-planet='saturn'] {
		--planet-color: var(--clr-accent-saturn);
	}
	&[data-planet='uranus'] {
		--planet-color: var(--clr-accent-uranus);
	}
	&[data-planet='neptune'] {
		--planet-color: var(--clr-accent-neptune);
	}
}
