.source-link {
	text-decoration: underline;
	font-weight: var(--fw-700);
	color: var(--clr-neutral-100);
	opacity: 0.5;
	transition: opacity 0.35s ease;
	cursor: pointer;

	&:hover,
	&:focus {
		opacity: 1;
	}

	& img {
		display: inline-block;
	}
}
